 /* Custom styles for the modal */
 #backupModal .modal-content {
  border-color: #086972;
  /* Border color */
  border-width: 2px;
  /* Increased border width */
  background-color: rgba(8, 105, 114, 0.4);
  /* Background color with transparency */
}

#backupModal .modal-body {
  font-weight: bold;
  /* Make text bold */
  color: white;
  /* Change text color to white */
  font-size: 1.25rem;
  /* Increase text size */
}

#backupModal .modal-title {
  font-weight: bold;
  /* Make title text bold */
  color: white;
  /* Change title text color to white */
  font-size: 1.5rem;
  /* Increase title text size */
}

.button-container button {
  height: 40px;
}

/* Custom styles for the download buttons inside the modal */
#filesModal .download-btn {
  background-color: #086972;
  /* Custom blue-green background color */
  color: white;
  /* White text for better readability */

  border: none;
  /* Removes the default border */
}

#filesModal .download-btn:hover {
  background-color: #06505f;
  /* Slightly darker shade on hover for a nice effect */
}

/* Custom styles for the modal content */
#filesModal .modal-content {
  border: 2px solid #086972;
  /* Solid border with a color of #086972 */
}

@media (max-width: 768px) {
  #filesModal .modal-dialog {
      max-width: 95%;
      /* Make the modal take 95% of the screen on small devices */
  }
}

@media (min-width: 769px) {
  #filesModal .modal-dialog {
      max-width: 500px;
      /* Set a fixed max width for larger screens */
  }
}

#filesModal .modal-body {
  font-size: 1rem;
  /* Default text size */
}

#filesModal .download-btn {
  padding: 0.375rem 0.75rem;
  /* Adjust button padding */
}

@media (max-width: 768px) {
  #filesModal .modal-body {
      font-size: 0.875rem;
      /* Smaller text on smaller screens */
  }
}

#filesModal .download-btn {
  padding: 0.25rem 0.5rem;
  /* Smaller buttons on smaller screens */
}


.btn-group .btn {
  margin-right: 5px;
  /* Adds right margin to button except the last one */
}

.btn-group .btn:last-child {
  margin-right: 0;
  /* Removes right margin from the last button */
}