body {
    font-family: "Open Sans", sans-serif !important;
  }
  .btn-primary {
    background-color: #086972 !important;
    color: #ffffff !important;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
  }
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 8px;
      padding-left: 8px;
  }
  .card {
      margin-right: 0;
      margin-left: auto;
      cursor: pointer;
  }
  .col-md-6 {
      padding-right: 5px;
  }
  @media (min-width: 768px) {
    .card {
      margin: 8px;
    }
  }
  @media (max-width: 767px) {
      .card {
          margin-top: 50px;
          margin: 4px;
      }
  }
  .card {
      display: flex;
      flex-direction: column;
      height: 100%; /* Ensures all cards are full height of their flex container */
  }
  .card-body {
      flex: 1; /* Allows the card body to expand to fill available space */
      display: flex;
      flex-direction: column;
  }
  .card-title, .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Limits text to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .card-text {
      flex-grow: 1;
      overflow: hidden;
      max-height: 4em;
  }
  .card-footer {
      margin-top: auto;
  }
  a { 
      text-decoration: none; 
  }
  .navbar-nav {
      font-size: 16px; font-family: Open Sans, sans-serif;
  }
  .pagination .page-link {
      padding: 12px 16px; /* Smaller padding than Bootstrap's default */
      font-size: 16px; /* Smaller font size */
      color: #000;
  }
  .pagination .page-link:hover, .pagination .page-link:focus, .pagination .page-item.active .page-link {
      color: #ffffff;
      background-color: #086972;
      border-color: #000000;
  }